<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ab fuga consectetur sint nisi impedit ratione, voluptatum commodi, iste dolorem quidem exercitationem magnam cupiditate facilis omnis provident deleniti tenetur ad illo et? Repudiandae minima distinctio, molestias itaque rem minus similique.
    </p>
  </div>
</div>