<div class="jumbotron mt4">
  <h1 class="display-4">Notes-App NodeJs y MongoDb</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <hr class="my-4">
  <a href="http://fastweb.com" class="btn btn-primary btn-lg">fastweb</a>
</div>